* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #fff;

    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Tabs ======================================= */
.tabs {
    width: fit-content;
    min-height: 440px;
    margin: 40px auto 0;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.tabs__names {
    margin-top: 10px;
    margin-bottom: 20px;
    min-width: 320px;
    display: flex;
    justify-content: center;
}

.tabs__header {
    margin-right: 3px;
    width: 100px;
    height: 30px;

    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 1.8;

    border-radius: 10px;
    background-color: rgb(167, 166, 166);
    cursor: pointer;

    transition: background 0.2s linear;
}

.tabs__header:hover {
    background-color: gray;
}

.tabs__header.active {
    color: #fff;
    background-color: rgb(45, 45, 163);
}

.tabs__item {
    display: flex;
    flex-direction: column;
}


/* Table ====================================================== */
.table {
    border-radius: 10px;
    border: 2px solid blue;
    border-spacing: 0;
}

th,
td {
    border-bottom: 1px solid blue;
}

td:last-child {
    border-bottom-right-radius: 9px;
}

td:first-child {
    border-bottom-left-radius: 9px;
}

td,
th {
    border-right: 1px solid blue;
}

td:last-child,
th:last-child {
    border-right: 0;
}

td,
th {
    padding: 5px;
}

/* Helpers =================================================== */
.text-center {
    text-align: center;
}

.error {
    display: block;

    background-color: red;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}

/* Buttons =================================================== */
.btn {
    display: block;
    margin: 20px auto;
    padding: 12px 14px;

    font-family: Roboto,
        sans-serif;
    font-size: 16px;

    border-radius: 10px;
    border: 0;
    background-color: #3ad613;
    cursor: pointer;

    transition: background 0.2s linear;
}

.btn:hover {
    background-color: #2ab407;
}

/* Animation ================================================ */
.show {
    display: block;
}

.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

/* Stations ================================= */

.stations__content {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}

.stations__content div {
    margin-bottom: 12px;
    width: 100%;
}

.stations__content label {
    font-size: 16px;
    font-family: Robot, sans-serif;
    font-weight: 700;
}

.stations__delete {
    margin-left: 10px;

    cursor: pointer;
}

/* Operators ================================ */
.operators__content {
    margin-bottom: 10px;
}

.operators__content div {
    margin-bottom: 12px;
}

.operators__name {
    color: orange;
    font-weight: 700;
    text-transform: uppercase;
}

.operators__line {
    border-bottom: 1px solid orange;
}

.operators--not-active {
    color: gray;
}

.operators__delete {
    margin-left: 20px;

    cursor: pointer;
}

/* Form ===================================== */
.form {
    display: flex;
    justify-content: center;
}

.form__input {
    width: 170px;
    height: 30px;

    border-radius: 3px;
    outline: 0;
}